<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="">Ingresa la altura</label>
                        <input type="text" id="altura" class="form-control" placeholder="Ingrese la altura">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="">Ingrese la base</label>
                        <input type="text" id="base" class="form-control" placeholder="Ingrese la base">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button class="btn btn-outline-success btn-block mb-3" id="btnCalcular">Calcular</button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="alert alert-primary" id="printZone" role="alert">
                        <strong>primary</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./../js/index.js"></script>
</body>

</html>